{% extends "base.html" %}


{% block leftblock %}
<p>Henter data fra Strava det kan tage 30 sek. afhængig af antal løbeture.</p>
<div id="loadspinner" class=" spinner-border text-primary"></div>

<a id="button" class=" btn btn-primary" href="./filter?id={{data.id}}" role="button">Analyser</a>
{% endblock %}

{% block rightblock %}
<p>{{data.firstname}}</p>
<p><img class="img-thumbnail" src="{{data.profile_medium}}"></p>
{% endblock %}

{% block scriptblock %}

<script>
    document.cookie = "id={{data.id}}";
    async function fetchData() {
        const response = await fetch("./loaddata?id={{data.id}}");
        // waits until the request completes...
        console.log(response);
        document.getElementById("loadspinner").classList.add('invisible');
        document.getElementById("button").classList.remove('invisible');
    }

    document.getElementById("button").classList.add('invisible');
    fetchData();



</script>
{% endblock %}