{% extends "base.html" %}


{% block leftblock %}
<h1>Statistik</h1>
<p>{{data.firstname}}</p>
<p><img class="img-thumbnail" src="{{data.profile_medium}}"></p>
{% endblock %}

{% block rightblock %}
<div id="loadspinner" class=" spinner-border text-primary"></div>
<a id="button" class=" btn btn-primary" href="/filter" role="button">Analyser</a>
{% endblock %}

{% block scriptblock %}

<script>

    async function fetchData() {
        const response = await fetch("/loaddata");
        // waits until the request completes...
        console.log(response);
        document.getElementById("loadspinner").classList.add('invisible');
        document.getElementById("button").classList.remove('invisible');
    }

    document.getElementById("button").classList.add('invisible');
    fetchData();



</script>
{% endblock %}