<p>Distance</p>
<div class="input-group mb-3">
    <input class="form-control" type="text" id="distanceFilterMin">
    <span class="input-group-text">-</span>
    <input class="form-control" type="text" id="distanceFilterMax">
</div>
<p>Tempo</p>
<div class="input-group mb-3">
    <input class="form-control" type="text" placeholder="05:00" id="tempoFilterMin">
    <span class="input-group-text">-</span>
    <input class="form-control" type="text" placeholder="07:00" id="tempoFilterMax">
</div>

{% set startdate = stats['runs']['first_run'].date|string %}
<div>
    <button type="button" onclick="fillThisYear()" class="btn btn-secondary btn-sm">I år</button>
    <button type="button" onclick="fillMdr(1)" class="btn btn-secondary btn-sm">1 mdr</button>
    <button type="button" onclick="fillMdr(3)" class="btn btn-secondary btn-sm">3 mdr</button>
    <button type="button" onclick="fillMdr(6)" class="btn btn-secondary btn-sm">6 mdr</button>
    <button type="button" onclick="fillMdr(12)" class="btn btn-secondary btn-sm">12 mdr</button>
</div>

<div class="input-group mb-3">
    <input id="startDate" class="form-control" type="date" />
    <span class="input-group-text">-</span>
    <input id="endDate" class="form-control" type="date" />
</div>

<button type="button" onclick="changeurl('filter')" class="btn btn-primary">Liste</button>
<button type="button" onclick="changeurl('chartdist')" class="btn btn-primary">Distance</button>
<button type="button" onclick="changeurl('chartruns')" class="btn btn-primary">Antal ture</button>
<button type="button" onclick="changeurl('chartwa')" class="btn btn-primary">Distance (vg)</button>
<button type="button" onclick="changeurl('scatter')" class="btn btn-primary">Distance / tempo</button>
<button type="button" onclick="changeurl('scatter2')" class="btn btn-primary">Progression</button>