{% extends "base.html" %}


{% block leftblock %}
<p>werwerwrwe</p>
<p> sds : {{redirecturi}}</p>
<p>werwerwrwe</p>
{% endblock %}

{% block scriptblock %}


<script>

    window.onload = function () {
        var redirect_uri = "{{redirecturi}}";
        console.log("onload");
        console.log(redirect_uri);
        window.location.href = "http://www.strava.com/oauth/authorize?client_id=77219&response_type=code&redirect_uri=" + redirect_uri + "&approval_prompt=force&scope=activity:read_all";

    }
</script>

{% endblock %}