{% extends "base.html" %}


{% block leftblock %}
<h1>Statistik</h1>

<p>Distance</p>
<div class="input-group mb-3">
    <input class="form-control" type="text" id="distanceFilterMin">
    <span class="input-group-text">-</span>
    <input class="form-control" type="text" id="distanceFilterMax">
</div>
<p>Tempo</p>
<div class="input-group mb-3">
    <input class="form-control" type="text" id="tempoFilterMin">
    <span class="input-group-text">-</span>
    <input class="form-control" type="text" id="tempoFilterMax">
</div>

{% set startdate = stats['runs']['first_run'].date|string %}

<div class="input-group mb-3">
    <input id="startDate" class="form-control" type="date" />
    <span class="input-group-text">-</span>
    <input id="endDate" class="form-control" type="date" />
</div>

<button type="button" onclick="changeurl('filter')" class="btn btn-primary">Liste</button>
<button type="button" onclick="changeurl('chart')" class="btn btn-primary">Ugegraf</button>
<button type="button" onclick="changeurl('scatter')" class="btn btn-primary">Scatter</button>
<button type="button" onclick="changeurl('chartwa')" class="btn btn-primary">Vægtet gennemsnit</button>



<p>Samlet {{stats['totals']['total_distance']}} km på {{stats['totals']['number_runs']}}
    ture. {{'%0.2f' | format(stats['totals']['total_distance']/stats['totals']['days']*7| float)}} km/uge
    {{'%0.1f' | format(stats['totals']['number_runs']/stats['totals']['days']*7 | float)}} ture/uge.
</p>

<div class="card">
    <div class="card-body">
        <b>Korteste tur</b></br>
        {{stats['runs']['distance_min'].date}} <a target="_new"
            href=" {{stats['runs']['distance_min'].stravaurl}} ">{{stats['runs']['distance_min'].name}}</a></br>

        <b>Distance: {{stats['runs']['distance_min'].distance}} km </b>-> Tempo:
        {{stats['runs']['distance_min'].tempo_in_txt}}
    </div>
</div>
<div class="card">
    <div class="card-body">
        <b>Længste tur</b></br>
        {{stats['runs']['distance_min'].date}} <a target="_new"
            href=" {{stats['runs']['distance_max'].stravaurl}} ">{{stats['runs']['distance_max'].name}}</a></br>

        <b>Distance: {{stats['runs']['distance_max'].distance}} km</b> -> Tempo:
        {{stats['runs']['distance_max'].tempo_in_txt}}
    </div>
</div>
<div class="card">
    <div class="card-body">
        <b>Hurtigste tur</b></br>
        {{stats['runs']['tempo_min'].date}} <a target="_new"
            href=" {{stats['runs']['tempo_min'].stravaurl}} ">{{stats['runs']['tempo_min'].name}}</a></br>

        Distance: {{stats['runs']['tempo_min'].distance}} km -> <b>Tempo:
            {{stats['runs']['tempo_min'].tempo_in_txt}}</b>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <b>Langsomste tur</b></br>
        {{stats['runs']['tempo_max'].date}} <a target="_new"
            href=" {{stats['runs']['tempo_max'].stravaurl}} ">{{stats['runs']['tempo_max'].name}}</a></br>

        Distance: {{stats['runs']['tempo_max'].distance}} km -> <b>Tempo:
            {{stats['runs']['tempo_max'].tempo_in_txt}}</b>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>Første tur</b></br>
        <b>{{stats['runs']['first_run'].date}} </b> <a target="_new"
            href=" {{stats['runs']['first_run'].stravaurl}} ">{{stats['runs']['first_run'].name}}</a></br>

        Distance: {{stats['runs']['first_run'].distance}} km -> Tempo: {{stats['runs']['first_run'].tempo_in_txt}}
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>Seneste tur</b></br>
        <b>{{stats['runs']['last_run'].date}} </b> <a target="_new"
            href=" {{stats['runs']['distance_max'].stravaurl}} ">{{stats['runs']['last_run'].name}}</a></br>

        Distance: {{stats['runs']['last_run'].distance}} km -> Tempo: {{stats['runs']['last_run'].tempo_in_txt}}
    </div>
</div>


{% endblock %}

{% block rightblock %}

<table class="table table-bordered">
    <tr>
        <th>Dato</th>
        <th>Tempo</th>
        <th>Distance</th>
        <th>Navn</th>
    </tr>
    {% for activity in data: %}
    <tr>
        <td>{{ activity.date}}</td>
        <td>{{ activity.tempo_in_txt}}</td>
        <td>{{ activity.distance}}</td>
        <td><a href=' {{activity.stravaurl}} '>{{ activity.name}}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block scriptblock %}

{% endblock %}