{% extends "base.html" %}


{% block leftblock %}
<h1>Statistik</h1>


<div class="input-group mb-3">
    <input class="form-control" type="text" value="{{'%0.2f' | format(stats['distance_min'].distance/1000|float)}}"
        id="distanceFilterMin">
    <span class="input-group-text">-</span>
    <input class="form-control" type="text" value="{{'%0.2f' | format(stats['distance_max'].distance/1000|float)}}"
        id="distanceFilterMax">
</div>


<div class="input-group mb-3">
    <input id="startDate" value="2022-01-01" class="form-control" type="date" />
    <span class="input-group-text">-</span>
    <input id="endDate" value="2022-12-31" class="form-control" type="date" />
</div>

<button type="button" onclick="myFunction()" class="btn btn-primary">Filter</button>


<p>Korteste tur: {{stats['distance_min']}}</p>
<p>Længste tur: {{stats['distance_max']}}</p>
<p>Hurtigste tur: {{stats['tempo_min']}}</p>
<p>Langsomste tur: {{stats['tempo_max']}}</p>
<p>Første tur: {{stats['first_run']}}</p>
<p>Seneste tur: {{stats['last_run']}}</p>
<p>Samlet {{'%0.0f' | format(stats['total_distance']/1000|float)}} km på {{stats['number_runs']}} ture.</p>


{% endblock %}

{% block rightblock %}

<table class="table table-bordered">
    <tr>
        <th>Dato</th>
        <th>Tempo</th>
        <th>Distance</th>
        <th>Navn</th>
    </tr>
    {% for activity in data: %}
    <tr>
        <td>{{ activity.date}}</td>
        <td>{{ activity.tempo_in_txt}}</td>
        <td>{{'%0.2f'|format( activity.distance/1000|float)}}</td>
        <td><a href=' {{activity.stravaurl}} '>{{ activity.name}}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block scriptblock %}
<script>
    function myFunction() {
        var distanceMin = document.getElementById("distanceFilterMin").value;
        var distanceMax = document.getElementById("distanceFilterMax").value;
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        console.log(`/filter?distanceMin=${distanceMin}&distanceMax=${distanceMax}&startDate=${startDate}&endDate=${endDate}`);
        window.location.href = `/filter?distanceMin=${distanceMin}&distanceMax=${distanceMax}&startDate=${startDate}&endDate=${endDate}`;


    }
</script>
{% endblock %}